In [ ]:
# 1000. A + B

In [2]:
a, b = map(int, input().split())
print (a+b)

1 2
3

In [ ]:
# 2557. Hello World

In [3]:
print('Hello World!')

Hello World!

In [ ]:
# 10171. 고양이

In [4]:
print('\    /\\')
print(' )  ( \')')
print('(  /  )')
print(' \(__)|')

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
# 10869. 사칙연산

In [5]:
a, b = input().split()
a = int(a)
b = int(b)
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

7 3
10
4
21
2
1

In [ ]:
# 9498. 시험 성적

In [6]:
A = int(input())
if A >= 90:
    print('A')
elif A >= 80:
    print('B')
elif A >= 70:
    print('C')
elif A >= 60:
    print('D')
else:
    print('F')

100
A

In [ ]:
# 2752. 세수 정렬

In [7]:
number = list(map(int, input().split()))

number = sorted(number)
print(*number)

3 1 2
1 2 3

In [ ]:
# 2753. 윤년

In [8]:
year = int(input())

if year%4 == 0 and (year%100 != 0 or year%400 == 0):
    print(1)
else:
    print(0)

2000
1

In [ ]:
# 2480. 주사위 세개

In [9]:
number = list(map(int, input().split()))

for n in number:
    if number.count(n) == 3:
        print(10000 + n * 1000)
        break
    elif number.count(n) == 2:
        print(1000 + n * 100)
        break
else:
    print(max(number) * 100)

336
33600

In [ ]:
# 2490. 윷놀이

In [ ]:
# 2562. 최댓값

In [ ]:
# 2576. 홀수

In [ ]:
# 2587. 대표값2

In [ ]:
# 2309. 일곱 난쟁이

In [ ]:
# 10093. 숫자

In [ ]:
# 2577. 숫자의 개수

In [ ]:
# 1267. 핸드폰 요금

In [ ]:
#10804. 카드 역배치

In [ ]:
# 2438. 별찍기 - 1

In [ ]:
# 2439. 별찍기 - 2

In [ ]:
# 2440. 별찍기 - 3

In [ ]:
# 2441. 별찍기 - 4

In [ ]:
# 2442. 별찍기 - 5

In [ ]:
# 2443. 별찍기 - 6

In [ ]:
# 2444. 별찍기 - 7

In [ ]:
# 2445. 별찍기 - 8

In [ ]:
# 2446. 별찍기 - 9