In [ ]:
# 1000. A + B

In [2]:
a, b = map(int, input().split())
print (a+b)

1 2
3

In [ ]:
# 2557. Hello World

In [3]:
print('Hello World!')

Hello World!

In [ ]:
# 10171. 고양이

In [4]:
print('\    /\\')
print(' )  ( \')')
print('(  /  )')
print(' \(__)|')

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
# 10869. 사칙연산

In [5]:
a, b = input().split()
a = int(a)
b = int(b)
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

7 3
10
4
21
2
1

In [ ]:
# 9498. 시험 성적

In [6]:
A = int(input())
if A >= 90:
    print('A')
elif A >= 80:
    print('B')
elif A >= 70:
    print('C')
elif A >= 60:
    print('D')
else:
    print('F')

100
A

In [ ]:
# 2752. 세수 정렬

In [7]:
number = list(map(int, input().split()))

number = sorted(number)
print(*number)

3 1 2
1 2 3

In [ ]:
# 2753. 윤년

In [8]:
year = int(input())

if year%4 == 0 and (year%100 != 0 or year%400 == 0):
    print(1)
else:
    print(0)

2000
1

In [ ]:
# 2480. 주사위 세개

In [9]:
number = list(map(int, input().split()))

for n in number:
    if number.count(n) == 3:
        print(10000 + n * 1000)
        break
    elif number.count(n) == 2:
        print(1000 + n * 100)
        break
else:
    print(max(number) * 100)

336
33600

In [ ]:
# 2490. 윷놀이

In [1]:
for tc in range(3):
    yuts = list(map(str, input().split()))
    count = yuts.count('0')

    if count == 0:
        print('E')
    elif count == 1:
        print('A')
    elif count == 2:
        print('B')
    elif count == 3:
        print('C')
    else:
        print('D')

0 1 0 1
B
1 1 1 0
A
0 0 1 1
B

In [ ]:
# 2562. 최댓값

In [2]:
num_list = []

for i in range(0, 9):
    num_list.append(int(input()))

print(max(num_list))
print(num_list.index(max(num_list))+1)

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
# 2576. 홀수

In [3]:
total = 0
minimum = 100
for i in range(0, 7):
    temp = int(input())
    if temp % 2:
        total += temp
        if minimum > temp:
            minimum = temp

if total == 0:
    print(-1)
else:
    print(total)
    print(minimum)

12
77
38
41
53
92
85
256
41

In [ ]:
# 2587. 대표값2

In [4]:
number = []
for _ in range(5):
    number.append(int(input()))
number = sorted(number)
print(sum(number) // 5)
print(number[2])

10
40
30
60
30
34
30

In [ ]:
# 2309. 일곱 난쟁이

In [5]:
dwarfs = []
dwarf_sum = 0
for i in range(0, 9):
    temp = int(input())
    dwarfs.append(temp)
    dwarf_sum += temp

dwarfs.sort()
flag = 0

for i in range(0, 9):
    for j in range(i + 1, 9):
        if dwarf_sum - dwarfs[i] - dwarfs[j] == 100:
            flag = 1
            break
    if flag:
        break

for k in range(0, 9):
    if k != i and k != j:
        print(dwarfs[k])

20
7
23
19
10
15
25
8
13
7
8
10
13
19
20
23

In [ ]:
# 10093. 숫자

In [6]:
number = list(map(int, input().split()))
number = sorted(number)
print(max(number[1] - number[0] - 1, 0))
for i in range(number[0] + 1, number[1]):
    print(i, end=' ')

4 14
9
5 6 7 8 9 10 11 12 13

In [ ]:
# 2577. 숫자의 개수

In [7]:
A = int(input())
B = int(input())
C = int(input())
result = A * B * C
ans = [0] * 10
while result:
    ans[result % 10] += 1
    result //= 10

for i in range(10):
    print(ans[i])

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
# 1267. 핸드폰 요금

In [8]:
N = int(input())
call = list(map(int, input().split()))
Y, M = 0, 0
for n in range(N):
    Y += call[n] // 30 * 10 + 10
    M += call[n] // 60 * 15 + 15
if Y < M:
    print(f'Y {Y}')
elif Y == M:
    print(f'Y M {Y}')
else:
    print(f'M {M}')

3
40 40 40
M 45

In [ ]:
#10804. 카드 역배치

In [9]:
card = [i for i in range(1, 21)]
for i in range(10):
    a, b = map(int, input().split())
    temp = card[a - 1 : b]
    temp = reversed(temp)
    card[a - 1 : b] = temp
print(*card)

5 10
9 13
1 2
3 4
5 6
1 2
3 4
5 6
1 20
1 20
1 2 3 4 10 9 8 7 13 12 11 5 6 14 15 16 17 18 19 20

In [ ]:
# 2438. 별찍기 - 1

In [10]:
N = int(input())

for n in range(1, N+1):
    print('*' * n)

5
*
**
***
****
*****

In [ ]:
# 2439. 별찍기 - 2

In [11]:
number = int(input())

for i in range(1, number+1):
    star = "*" * i
    print(star.rjust(number))

5
    *
   **
  ***
 ****
*****

In [ ]:
# 2440. 별찍기 - 3

In [12]:
number = int(input())

for i in range(number, 0, -1):
    print("*" * i)

5
*****
****
***
**
*

In [ ]:
# 2441. 별찍기 - 4

In [13]:
number = int(input())

for i in range(number, 0, -1):
    star = "*" * i
    print(star.rjust(number))

5
*****
 ****
  ***
   **
    *

In [ ]:
# 2442. 별찍기 - 5

In [14]:
number = int(input())

for i in range(1, number+1):
    print(' ' * (number - i), end='')
    print('*' * (2 * i -1))

5
    *
   ***
  *****
 *******
*********

In [ ]:
# 2443. 별찍기 - 6

In [15]:
number = int(input())

for i in range(number, 0, -1):
    print(' ' * (number - i), end='')
    print('*' * (2 * i -1))

5
*********
 *******
  *****
   ***
    *

In [ ]:
# 2444. 별찍기 - 7

In [16]:
number = int(input())

for i in range(1, number):
    print(' ' * (number - i), end='')
    print('*' * (2 * i - 1))
for i in range(number, 0, -1):
    print(' ' * (number - i), end='')
    print('*' * (2 * i - 1))

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
# 2445. 별찍기 - 8

In [17]:
N = int(input())

for i in range(1, N):
    print('*' * i, end='')
    print(' ' * (N-i) * 2, end='')
    print('*' * i)
for i in range(N, 0, -1):
    print('*' * i, end='')
    print(' ' * (N-i) * 2, end='')
    print('*' * i)

5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [ ]:
# 2446. 별찍기 - 9

In [18]:
N = int(input())

for i in range(N, 1, -1):
    print(' ' * (N - i), end='')
    print('*' * (2 * i - 1))
for i in range(1, N+1):
    print(' ' * (N - i), end='')
    print('*' * (2 * i - 1))

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********