In [ ]:
# 1629 곱셈

In [ ]:
# 11729 하노이 탑 이동 순서

In [1]:
def hanoi(n, start, temp, end):
    if n == 1:
        print(start, end)
    else:
        hanoi(n - 1, start, end, temp)
        print(start, end)
        hanoi(n -1, temp, start, end)

N = int(input())
result = 0
i = 0
while i < N :
    result = 2 * result + 1
    i += 1
print(result)
hanoi(N, 1, 2, 3)

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3

In [ ]:
# 1074 Z

In [ ]:
# 2447 별 찍기 - 10

In [ ]:
# 2448 별 찍기 - 11

In [ ]:
# 1992 쿼드트리

In [ ]:
# 16684 하노삼의 탑