In [ ]:
# 10808 알파벳 개수

In [1]:
alpha = [0] * 26

S = list(map(str, input()))

for i in range(len(S)):
    alpha[ord(S[i]) - 97] += 1

for i in range(26):
    print(alpha[i], end=' ')

baekjoon
1 1 0 0 1 0 0 0 0 1 1 0 0 1 2 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
# 10807 개수 세기

In [2]:
N = int(input())
num = list(map(int, input().split()))
V = int(input())
cnt = 0
for n in num:
    if V == n:
        cnt += 1

print(cnt)

11
1 4 1 2 4 2 4 2 3 4 4
2
3

In [ ]:
# 1406 에디터

In [ ]:
# 2577 숫자의 개수

In [3]:
A = int(input())
B = int(input())
C = int(input())
result = A * B * C
ans = [0] * 10
while result:
    ans[result % 10] += 1
    result //= 10

for i in range(10):
    print(ans[i])

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
# 11328 Strfry

In [4]:
N = int(input())
for n in range(N):
    str1, str2 = input().split()
    str1 = sorted(str1)
    str2 = sorted(str2)

    if len(str1) != len(str2):
        flag = 0
    else:
        for i in range(len(str1)):
            if str1[i] != str2[i]:
                flag = 0
                break
        else:
            flag = 1
    if flag:
        print('Possible')
    else:
        print('Impossible')

4
a a
Possible
ab ba
Possible
ring gnir
Possible
newt twan
Impossible

In [ ]:
# 13300 방 배정

In [5]:
N, K = map(int, input().split())
student = [[0] * 2 for _ in range(7)]
for n in range(N):
    gender, grade = map(int, input().split())
    student[grade][gender] += 1
result = 0
for i in range(1, 7):
    for j in range(2):
        cnt = student[i][j] // K
        if student[i][j] % K:
            cnt += 1
        result += cnt
print(result)

3 3
0 3
1 5
0 6
3

In [ ]:
# 1475 방 번호

In [6]:
N = list(map(int, input()))
num = [0] * 10
for n in N:
    num[n] += 1
num[6] = (num[6] + num[9]) // 2 + 1 if (num[6] + num[9]) % 2 else (num[6] + num[9]) // 2
num[9] = 0
print(max(num))

9999
2

In [ ]:
# 1158 요세푸스 문제

In [7]:
N, K = map(int, input().split())
num = list(range(1, N + 1))
result = []
k = K - 1
while True:
    result.append(num.pop(k))
    if not num:
        break
    k = (k + K - 1) % len(num)
print('<' + ', '.join(map(str, result)) + '>')

7 3
<3, 6, 2, 7, 5, 1, 4>

In [ ]:
# 5397 키로거

In [ ]:
# 1717 애너그램 만들기

In [8]:
a = input()
b = input()
A = [0] * 26
B = [0] * 26
for s in a:
    A[ord(s) - ord('a')] += 1
for s in b:
    B[ord(s) - ord('a')] += 1
result = 0
for i in range(26):
    result += abs(A[i] - B[i])
print(result)

aabbcc
xxyybb
8