In [ ]:
# 1629 곱셈

In [3]:
def recursive(a, b, c):
    if not b:
        return 1
    res = recursive(a, b//2, c)
    res = res * res % c
    if b % 2:
        return res * a % c
    else:
        return res

A, B, C = map(int, input().split())
print(recursive(A, B, C))

10 11 12
4

In [ ]:
# 11729 하노이 탑 이동 순서

In [1]:
def hanoi(n, start, temp, end):
    if n == 1:
        print(start, end)
    else:
        hanoi(n - 1, start, end, temp)
        print(start, end)
        hanoi(n -1, temp, start, end)

N = int(input())
result = 0
i = 0
while i < N :
    result = 2 * result + 1
    i += 1
print(result)
hanoi(N, 1, 2, 3)

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3

In [ ]:
# 1074 Z

In [2]:
def z(N, R, C, res):
    if N == 1:
        if R == 0 and C == 0:
            return res
        elif R == 0 and C == 1:
            return res + 1
        elif R == 1 and C == 0:
            return res + 2
        else:
            return res + 3
    else:
        n = 2 ** (N - 1)
        if C >= n:
            res += n ** 2
            C -= n
        if R >= n:
            res += (n ** 2) * 2
            R -= n
        return z(N - 1, R, C, res)


N, R, C = map(int, input().split())
print(z(N, R, C, 0))

3 7 7
63

In [ ]:
# 2447 별 찍기 - 10

In [1]:
def star(y, x, M):
    if (y // M) % 3 == 1 and (x // M) % 3 == 1:
        print(' ', end='')
        return
    else:
        if M // 3 == 0:
            print('*', end='')
            return
        else:
            star(y, x, M // 3)

N = int(input())
for i in range(N):
    for j in range(N):
        star(i, j, N)
    print()

27
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************
*********         *********
* ** ** *         * ** ** *
*********         *********
***   ***         ***   ***
* *   * *         * *   * *
***   ***         ***   ***
*********         *********
* ** ** *         * ** ** *
*********         *********
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************

In [ ]:
# 2448 별 찍기 - 11

In [ ]:
# 1992 쿼드트리

In [4]:
def zip(Y, X, M):
    global result
    stnd = maps[Y][X]
    for i in range(Y, Y + M):
        for j in range(X, X + M):
            if maps[i][j] != stnd:
                result += '('
                m = M // 2
                zip(Y, X, m)
                zip(Y, X + m, m)
                zip(Y + m, X, m)
                zip(Y + m, X + m, m)
                result += ')'
                return
    else:
        result += str(stnd)
        return

N = int(input())
maps = [list(map(int, input())) for _ in range(N)]
result = ''
zip(0, 0, N)
print(result)

8
11110000
11110000
00011100
00011100
11110000
11110000
11110011
11110011
((110(0101))(0010)1(0001))

In [ ]:
# 16684 하노삼의 탑